.st-img-logo{
    height: 50px;
}

.st-panel-login {
    position:absolute; 
    width:250px;
    margin-left:-125px;
    height:180px;
    margin-top:-90px;
    top:50%; 
    left:50%;
}

.st-panel-login-error {
    position:absolute; 
    width:255px;
    margin-left:-125px;
    height:40px;
    margin-top:100px;
    top:50%; 
    left:50%;
}

.st-panel-login-error strong{
    margin: 10px;
}

.st-input-login {
    width: 220px;
}

.st-button-login {
    width: 100px;
}

.st-bold {
    font-weight: bold;
}

.st-menu {
    margin-bottom: 5px;
    margin-right: 5px;
    width: 30%;
    float: left;
}

.st-menu-button {
    height: 40px;
    margin-bottom: 10px;
}

.st-div-main{
    //padding-top: 50px;
    //padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.st-div-dlg-change-pass {
    position: absolute;
}

.st-input-change-pass {
    width:165px;
}

.st-fieldset{
    width: 99%;
}

/* PRIME */
.pui-menubar {
    margin-bottom: 5px;
}

.pui-menuitem-link.ui-corner-all.ui-state-hover {
    font-weight: normal;
}

.pui-password-panel .pui-password-meter{height:10px;background:transparent url("../images/password-meter.png") no-repeat left top;padding:0;margin:0;}
.pui-growl-image{width:32px;height:32px;float:left;margin:0;padding:0;display:block;background:url("../images/messages.png") no-repeat;}
.pui-growl-image-info{background-position:0 -264px;}
.pui-growl-image-warn{background-position:0 -396px;}
.pui-growl-image-error{background-position:0 0;}
.pui-growl-image-fatal{background-position:0 -228px;}

.pui-datatable tbody td {
    white-space: normal;
}